 
 .container {
    padding: 24px;
    max-width: 1200px;
    font-family: Arial, sans-serif;
 }
 /* h1{
    font-size: medium;
    font-family:sans-serif;
    text-align: center;
 } */
 /* .cart-sidebar{ */
   /* background-color: aqua; 
   height: 50%;
   width:30%;
   padding:10px;
   display: flex;
   float: right; */
  /* flex: 1;
  background-color: #F0F0F0;
  display: block;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
  border-radius: 0;
  border: none;
  box-shadow: none; 
 }  */
 /* .summary{
   display: flexbox;
 } */